In [7]:
import pandas as pd

processed_data = pd.read_csv('./processed_data_merged.csv')
merged_data=pd.read_csv('./data_merged(final+version).csv')

# def replace_value(row):
#     if 'Singapore' in row['name']:
#         return row['name'].replace('Singapore', row['neighbourhood_cleansed'])
#     else:
#         return row['name']
    

# merged_data['name'] = merged_data['name'].str.split('Singapore').str[0]
column1_to_add = merged_data['name'].str.split(' · ',n=2).str[2]

merged_data['name'] = merged_data['name'].str.split(' in ').str[0]
merged_data['name']= merged_data['name']+' in '+merged_data['neighbourhood_cleansed']

column2_to_add=merged_data['name']
column3_to_add=merged_data['accommodates']
column4_to_add=merged_data['picture_url']

processed_data.insert(1, 'details', column1_to_add)
processed_data.insert(1, 'name', column2_to_add)
processed_data.insert(16, 'accommodates', column3_to_add)
processed_data.insert(5, 'picture_url', column4_to_add)

processed_data.to_csv('processed_data_merged_final_v1.csv', index=False)

new=pd.read_csv('./processed_data_merged_final_v1.csv')
new.head()

,id,name,details,neighbourhood_cleansed,neighbourhood_group_cleansed,picture_url,latitude,longitude,room_type,price,...,Wifi,kitchen,Backyard,TV,refrigerator,Microwave,Oven,Pets,stove,fan
0,71609,Villa in Tampines,2 bedrooms · 3 beds · 1 private bath,Tampines,East Region,https://a0.muscache.com/pictures/24453191/3580...,1.34537,103.95887,Private room,4170,...,1,1,1,1,1,0,0,0,0,0
1,71896,Home in Tampines,1 bedroom · 1 bed · Shared half-bath,Tampines,East Region,https://a0.muscache.com/pictures/2440674/ac4f4...,1.34754,103.95958,Private room,2100,...,1,1,1,1,1,0,0,0,0,0
2,71903,Home in Tampines,1 bedroom · 2 beds · Shared half-bath,Tampines,East Region,https://a0.muscache.com/pictures/568743/7bc623...,1.34531,103.96100,Private room,2430,...,1,1,0,1,0,0,0,0,0,0
3,275343,Rental unit in Bukit Merah,1 bedroom · 1 bed · 2 shared baths,Bukit Merah,Central Region,https://a0.muscache.com/pictures/miso/Hosting-...,1.29015,103.80814,Private room,1650,...,1,1,0,1,1,0,0,0,1,0
4,275344,Rental unit in Bukit Merah,1 bedroom · 1 bed · 2.5 shared baths,Bukit Merah,Central Region,https://a0.muscache.com/pictures/miso/Hosting-...,1.28836,103.81144,Private room,2070,...,1,1,0,1,1,1,0,0,1,0

In [8]:
# delete row with empty values

import pandas as pd


df = pd.read_csv('processed_data_merged_final_v1.csv')

print("Shape before delete:", df.shape)
df_cleaned = df.dropna()
print("Shape after delete:", df_cleaned.shape)
df_cleaned.to_csv('processed_data_merged_final_v2.csv', index=False)

df_cleaned.head()

Shape before delete: (3443, 34)
Shape after delete: (3441, 34)

,id,name,details,neighbourhood_cleansed,neighbourhood_group_cleansed,picture_url,latitude,longitude,room_type,price,...,Wifi,kitchen,Backyard,TV,refrigerator,Microwave,Oven,Pets,stove,fan
0,71609,Villa in Tampines,2 bedrooms · 3 beds · 1 private bath,Tampines,East Region,https://a0.muscache.com/pictures/24453191/3580...,1.34537,103.95887,Private room,4170,...,1,1,1,1,1,0,0,0,0,0
1,71896,Home in Tampines,1 bedroom · 1 bed · Shared half-bath,Tampines,East Region,https://a0.muscache.com/pictures/2440674/ac4f4...,1.34754,103.95958,Private room,2100,...,1,1,1,1,1,0,0,0,0,0
2,71903,Home in Tampines,1 bedroom · 2 beds · Shared half-bath,Tampines,East Region,https://a0.muscache.com/pictures/568743/7bc623...,1.34531,103.96100,Private room,2430,...,1,1,0,1,0,0,0,0,0,0
3,275343,Rental unit in Bukit Merah,1 bedroom · 1 bed · 2 shared baths,Bukit Merah,Central Region,https://a0.muscache.com/pictures/miso/Hosting-...,1.29015,103.80814,Private room,1650,...,1,1,0,1,1,0,0,0,1,0
4,275344,Rental unit in Bukit Merah,1 bedroom · 1 bed · 2.5 shared baths,Bukit Merah,Central Region,https://a0.muscache.com/pictures/miso/Hosting-...,1.28836,103.81144,Private room,2070,...,1,1,0,1,1,1,0,0,1,0

In [1]:
import pandas as pd


df1 = pd.read_csv('processed_data_merged_final_v2.csv')
df2=pd.read_csv('./data_merged(final+version).csv',
                usecols=['review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value'])
df=pd.concat([df1, df2], axis=1)

df.to_csv('processed_data_merged_final_v3.csv', index=False)

df.head()

,id,name,details,neighbourhood_cleansed,neighbourhood_group_cleansed,picture_url,latitude,longitude,room_type,price,...,Pets,stove,fan,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,71609.0,Villa in Tampines,2 bedrooms · 3 beds · 1 private bath,Tampines,East Region,https://a0.muscache.com/pictures/24453191/3580...,1.34537,103.95887,Private room,4170.0,...,0.0,0.0,0.0,4.44,4.37,4.00,4.63,4.78,4.26,4.32
1,71896.0,Home in Tampines,1 bedroom · 1 bed · Shared half-bath,Tampines,East Region,https://a0.muscache.com/pictures/2440674/ac4f4...,1.34754,103.95958,Private room,2100.0,...,0.0,0.0,0.0,4.16,4.22,4.09,4.43,4.43,4.17,4.04
2,71903.0,Home in Tampines,1 bedroom · 2 beds · Shared half-bath,Tampines,East Region,https://a0.muscache.com/pictures/568743/7bc623...,1.34531,103.96100,Private room,2430.0,...,0.0,0.0,0.0,4.41,4.39,4.52,4.63,4.64,4.50,4.36
3,275343.0,Rental unit in Bukit Merah,1 bedroom · 1 bed · 2 shared baths,Bukit Merah,Central Region,https://a0.muscache.com/pictures/miso/Hosting-...,1.29015,103.80814,Private room,1650.0,...,0.0,1.0,0.0,4.40,4.16,4.26,4.47,4.42,4.53,4.63
4,275344.0,Rental unit in Bukit Merah,1 bedroom · 1 bed · 2.5 shared baths,Bukit Merah,Central Region,https://a0.muscache.com/pictures/miso/Hosting-...,1.28836,103.81144,Private room,2070.0,...,0.0,1.0,0.0,4.54,4.64,4.21,4.64,4.57,4.64,4.43

In [3]:
import pandas as pd
import re

original = pd.read_csv('processed_data_merged_final_v2.csv')

type_to_add=original['name']
type_to_add = type_to_add.str.split(' in ').str[0]

studio_to_add=original['details']
studio_to_add = studio_to_add.apply(lambda x: 1 if 'Studio' in x else 0)

shared_bath_to_add=original['details']
shared_bath_to_add=shared_bath_to_add.apply(lambda x: 0.5 if 'Shared half-bath' in x else 0)

private_bath_to_add=original['details']
private_bath_to_add=private_bath_to_add.apply(lambda x: 0.5 if 'Private half-bath' in x else 0)

def parse_room_info(info):
    counts = {}  


    matches = re.findall(r'(\d+(\.\d+)?)\s*([\w\s]+)\b', info)
    for count, _, room_type in matches:
        counts[room_type.strip()] = float(count)

    return counts

parsed_room_info = original['details'].apply(parse_room_info)

parsed_df = pd.DataFrame(parsed_room_info.tolist(), index=original.index)


df = pd.concat([original, parsed_df], axis=1)
df.insert(1, 'types', type_to_add)

df[['bedrooms', 'bedroom', 'beds', 'bed', 'shared baths','private bath', 'shared bath', 'baths', 'bath']] = df[['bedrooms', 'bedroom', 'beds', 'bed', 'shared baths','private bath', 'shared bath', 'baths', 'bath']].fillna(0)
df['total_bedrooms'] = df['bedrooms'] + df['bedroom']
df['total_beds'] = df['beds'] + df['bed']
df['total_shared_baths'] = df['shared baths'] + df['shared bath']+shared_bath_to_add

df['private bath']=df['private bath']+ private_bath_to_add
df['total_baths'] = df['baths'] + df['bath']

def get_bath_type(row):
    if row['private bath'] != 0:
        return 'private'
    elif row['total_shared_baths'] != 0:
        return 'shared'
    elif row['total_baths'] != 0:
        return 'unknown'
    else:
        return 'none'

df['bath_type'] = df.apply(get_bath_type, axis=1)

df['total_baths'] =df['total_baths'] +df['total_shared_baths']+ df['private bath']


df = df.drop(columns=['bedrooms', 'bedroom', 'beds', 'bed', 'shared baths', 'shared bath', 'baths', 'bath','total_shared_baths','private bath'])
df.insert(loc=len(df.columns), column='studio', value=studio_to_add)

df.to_csv('data_merged_5002_v2.csv', index=False)

df.head()

,id,types,name,details,neighbourhood_cleansed,neighbourhood_group_cleansed,picture_url,latitude,longitude,room_type,...,Microwave,Oven,Pets,stove,fan,total_bedrooms,total_beds,total_baths,bath_type,studio
0,71609,Villa,Villa in Tampines,2 bedrooms · 3 beds · 1 private bath,Tampines,East Region,https://a0.muscache.com/pictures/24453191/3580...,1.34537,103.95887,Private room,...,0,0,0,0,0,2.0,3.0,1.0,private,0
1,71896,Home,Home in Tampines,1 bedroom · 1 bed · Shared half-bath,Tampines,East Region,https://a0.muscache.com/pictures/2440674/ac4f4...,1.34754,103.95958,Private room,...,0,0,0,0,0,1.0,1.0,0.5,shared,0
2,71903,Home,Home in Tampines,1 bedroom · 2 beds · Shared half-bath,Tampines,East Region,https://a0.muscache.com/pictures/568743/7bc623...,1.34531,103.96100,Private room,...,0,0,0,0,0,1.0,2.0,0.5,shared,0
3,275343,Rental unit,Rental unit in Bukit Merah,1 bedroom · 1 bed · 2 shared baths,Bukit Merah,Central Region,https://a0.muscache.com/pictures/miso/Hosting-...,1.29015,103.80814,Private room,...,0,0,0,1,0,1.0,1.0,2.0,shared,0
4,275344,Rental unit,Rental unit in Bukit Merah,1 bedroom · 1 bed · 2.5 shared baths,Bukit Merah,Central Region,https://a0.muscache.com/pictures/miso/Hosting-...,1.28836,103.81144,Private room,...,1,0,0,1,0,1.0,1.0,2.5,shared,0

In [1]:
import pandas as pd
from langdetect import detect_langs

raw=pd.read_csv('reviews.csv')

duplicate_ids = raw['reviewer_id'].duplicated()


duplicate=raw[duplicate_ids]
duplicate.head()

# raw = raw.drop_duplicates(subset=['id'])

,listing_id,id,date,reviewer_id,reviewer_name,comments
12,3209752,611063059,2020-02-26,51293660,Mark,Clean and tidy room in shared apartment in Cha...
66,3802621,57974950,2015-12-30,3289968,Stephen,Another great stay!
67,3802621,59244637,2016-01-08,3289968,Stephen,"Another ""superb"" stay!"
68,3802621,59623007,2016-01-12,3289968,Stephen,A shorter stay this time around but just as as...
70,3802621,60929551,2016-01-29,3289968,Stephen,My preferred choice whenever I am in Singapore!

In [2]:
print("Number of rows:", duplicate.shape[0])  
print("Number of columns:", duplicate.shape[1])

Number of rows: 2706
Number of columns: 6

In [3]:
duplicate_ids = raw['reviewer_name'].duplicated()


duplicate=raw[duplicate_ids]
duplicate.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
8,3209752,564125871,2019-11-15,83159081,Andrew,Jeremy is a good host who pays attention to d...
12,3209752,611063059,2020-02-26,51293660,Mark,Clean and tidy room in shared apartment in Cha...
22,3304326,85659812,2016-07-12,6430302,Andrew,The host canceled this reservation 20 days bef...
23,3304326,271637536,2018-06-02,172605707,Mark,Condo is almost like a resort in appearance- n...
63,71896,406640,2011-07-30,764762,Lucy,Belinda is a kind host who certainly tries to ...

In [4]:
print("Number of rows:", duplicate.shape[0])  
print("Number of columns:", duplicate.shape[1])

Number of rows: 20041
Number of columns: 6

In [5]:
raw = raw.drop(columns=['date', 'id'])

def is_all_english_text(text):
    try:
        langs = detect_langs(text)
        for lang in langs:
            if lang.lang != 'en':
                return False
        return True
    except:
        return False

raw = raw[raw['comments'].apply(is_all_english_text)]

In [6]:
duplicate_ids = raw['reviewer_id'].duplicated()


duplicate=raw[duplicate_ids]
print("Number of rows:", duplicate.shape[0])  
print("Number of columns:", duplicate.shape[1])

Number of rows: 2046
Number of columns: 4

In [7]:
raw['userID'] = pd.factorize(raw['reviewer_id'])[0] + 1
raw.head()

,listing_id,reviewer_id,reviewer_name,comments,userID
0,71609,1456140,Max,The rooms were clean and tidy. Beds very comfo...,1
1,3209752,20987832,Eng Hui,"Thank you for making me feel at home, it is su...",2
2,3209752,3963956,Lug,"An absolutely amazing place. It’s clean, styli...",3
3,3209752,66599486,Andrew,This location is private yet it is only 400m w...,4
4,3209752,110050140,Damien,Jeremy is a great host that will make your sta...,5

In [8]:
import random
import string
import re

raw = raw.drop(columns=['reviewer_id'])
raw_reset = raw.reset_index(drop=True)
# raw_reset['comments'] = raw_reset['comments'].str.replace('<br/>', '\n')
# raw_reset['comments'] = raw_reset['comments'].str.replace('\n', ' ')

raw_reset['comments'] = raw_reset['comments'].apply(lambda x: re.sub(r'<br/>', '\n', x))
raw_reset['comments'] = raw_reset['comments'].apply(lambda x: re.sub(r'\n+', '\n', x))

commentsInfo=raw_reset[['listing_id','userID','comments']]

commentsInfo.to_csv('commentsInfo.csv', index=False)

commentsInfo.head()

   listing_id  userID                                           comments
0       71609       1  The rooms were clean and tidy. Beds very comfo...
1     3209752       2  Thank you for making me feel at home, it is su...
2     3209752       3  An absolutely amazing place. It’s clean, styli...
3     3209752       4  This location is private yet it is only 400m w...
4     3209752       5  Jeremy is a great host that will make your sta...

In [9]:
userInfo=raw_reset[['userID','reviewer_name']]
userInfo = userInfo.rename(columns={'reviewer_name': 'userName'})
userInfo = userInfo.drop_duplicates(subset=['userID'])

used_usernames = set()

for index, row in userInfo.iterrows():
    username = row['userName']
    
    if username in used_usernames:
        while True:
            new_username = f"{username}_{random.randint(1, 999)}"
            if new_username not in used_usernames and len(new_username) <= 20:
                break
        userInfo.at[index, 'userName'] = new_username
        used_usernames.add(new_username)
    else:
        used_usernames.add(username)

def generate_password(length):
    characters = string.ascii_letters + string.digits + string.punctuation
    password = ''.join(random.choice(characters) for _ in range(length))
    return password


userInfo['password'] = userInfo.apply(lambda row: generate_password(random.randint(6, 20)), axis=1)
userInfo.to_csv('userInfo.csv', index=False)

userInfo.head()

   userID userName              password
0       1      Max     :THL\-w_1Htiou"{=
1       2  Eng Hui            %6r"O8^l;j
2       3      Lug                Kg}@L>
3       4   Andrew        N?f7x/NX;2'G|w
4       5   Damien  )%=JX)`ge8&L82j#ym7z

In [10]:
duplicate_ids = userInfo['userName'].duplicated()


duplicate=userInfo[duplicate_ids]
duplicate.head()

Empty DataFrame
Columns: [userID, userName, password]
Index: []

In [11]:
print("Number of rows:", duplicate.shape[0])  
print("Number of columns:", duplicate.shape[1])

Number of rows: 0
Number of columns: 3

In [12]:
duplicate_ids = userInfo['userID'].duplicated()


duplicate=userInfo[duplicate_ids]
duplicate.head()

Empty DataFrame
Columns: [userID, userName, password]
Index: []

In [1]:
import math
from flair.nn import Classifier
from flair.data import Sentence
import pandas as pd

comments=pd.read_csv('commentsInfo.csv')

classifier = Classifier.load('sentiment')



def sigmoid_mapping(score):
    mapped_score = 5 / (1 + math.exp(-score))
    return mapped_score

def tanh_mapping(score):
    mapped_score = 2.5 * math.tanh(score) + 2.5
    return mapped_score

# def analyze_sentiment(text):
#     sentence = Sentence(text)
#     classifier.predict(sentence)


#     positivity_score = sentence.labels[0].score
#     mapped_positivity_score = tanh_mapping(positivity_score)

#     estimated_sentiment=sentence.labels[0].value
#     # estimated_rating = sigmoid_mapping(positivity_score) if sentence.labels[0].value == 'POSITIVE' else 5 - sigmoid_mapping(positivity_score)
#     estimated_rating = mapped_positivity_score if estimated_sentiment == 'POSITIVE' else 5 - mapped_positivity_score
    
#     return estimated_rating,estimated_sentiment


def exponential_mapping(score, sentiment_value):
    a=7

    normalized_score = (score - 0.9) / 0.1  

    center = 4.5 if sentiment_value == 'POSITIVE' else 0.5

    mapped_score = math.exp((normalized_score - center) * a)  

    mapped_score = mapped_score * 5.0
    return mapped_score

def analyze_sentiment(text):
    sentence = Sentence(text)
    classifier.predict(sentence)

    positivity_score = sentence.labels[0].score
    sentiment_value = sentence.labels[0].value

    estimated_rating = exponential_mapping(positivity_score, sentiment_value)

    return estimated_rating, sentiment_value

In [2]:
comments[['estimated_rating_flair','estimated_sentiment_flair']] = comments['comments'].apply(lambda x: pd.Series(analyze_sentiment(x)))
comments.head()
comments.to_csv('commentsInfo_flair_exp.csv')